/* First step: define components of the website */

/* Second step: define color palette (primary, secondary, accent) */
/* Color paletter */
:root {
  /* colors of components */
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;

  /* colors of text */
  --color-heading: #1b0760;
  --color-body: #b2afbf;
}
/* make a commit to repository */

/* Third step: define typography (mobile-first approach) */
/* Look at the fonts and try to minimize the variation number of different fonts */

/* Typography */
html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Fourth step: make first reusable component - link "LEARN MORE->" */

/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-accent);
}

.link-arrow:after {
  margin-left: 0.25rem;
  content: "-->";
  transition: margin-left 0.3s;
}

/* target element 'after' in 'hover' effect of .link-arrow */
.link-arrow:hover::after {
  margin-left: 0.75rem;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 30px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  text-align: center;
  white-space: nowrap;
}

.badge--primary {
  /*BEM*/
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}


/* Lists */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-heading);
}

/*we do not want css to know about HTML tags*/
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding: 3rem;
}

.list--tick .list__item {
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width:1024px) {
  .list--tick .list__item {
    padding-left: 0.5rem;
  }
}


/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  width: 64px;
  height: 64px;
  display: inline-flex;
  background-color: #f3f9fa;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.search-icon {
  fill: #fff;
  height: 25px;
  padding-left:3rem;
  padding-right: 1rem;
  width: 25px;
}

/* Buttons */
/* Button-frame */
.button {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.1rem;
  padding: 0;
  text-transform: uppercase;
}

/* Button variety */
.buy-button {
  border-radius: 30px;
  font-weight: 600;
  height: 60px;
  width: 400px;
}

.start-button {
  border-radius: 40px;
  height: 68px;
  width: 400px;
}

.search-button {
  background-color: var(--color-accent);
  border-radius: 30px;
  font-size: 1.5rem;
  height: 63px;
  justify-content: left;
  width: 175px;
}

.footer-button {
  width: 317px;
  height: 73px;
  border-radius: 40px;
}

/* Button-colors */
.button--primary {
  background-color: #fff;
  border: 2px solid var(--color-heading);
}

.button--primary:hover {
  background-color: var(--color-heading);
  color: #fff;
}

.button--accent {
  color: #fff;
  background-color: var(--color-accent);
}

.button--accent:hover {
  background-color: hsl(12deg, 100%, 45%);
}

.button--secondary {
  color: #fff;
  background-color: var(--color-secondary);
}

.button--secondary:hover {
  background-color: hsl(189deg, 100%, 45%);
}

@media screen and (min-width:1024px) {
  .button {
    font-size: 1.5rem;
  }

  .buy-button {
    width: 260px;
    height: 53px;
  }

  .start-button {
    width: 190px;
    height: 63px;
  }

  .search-button {
    height: 56px;
  }

  .footer-button {
    width: 225px;
    height: 65px;
  }
}