<div class="grid grid--1x2 block container feature-block">
  <div class="feature-header">
    <span class="icon-container">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#clock"></use>
      </svg>
    </span>
    <header class="block__header">
      <h2 class="block__heading">Super Easy to Use</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum voluptatum
        ullam et facere nihil minima asperiores suscipit quo distinctio
        inventore.
      </p>
    </header>
    <a href="#" class="link-arrow">Learn more</a>
  </div>
  <picture>
    <source
      type="image/webp"
      srcset="images/easy(570px).webp 1x, images/easy(1283px).webp 2x"
    />
    <source
      type="image/jpg"
      srcset="images/easy(570px).jpg 1x, images/easy(1283px).jpg 2x"
    />
    <img class="large-image" src="images/easy.jpg" alt="Super Easy to Use" />
  </picture>
</div>
