<div class="footer__and__callout">
  <div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started?</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
          ipsam ad molestias nisi laboriosam obcaecati aliquid numquam! Nemo,
          odit est?
        </p>
      </div>
      <a href="" class="button button--secondary">Get Started</a>
    </div>
  </div>
  <div class="footer">
    <div class="collapsible collapsible--expanded collapsible-border-padding">
      <header class="collapsible__header">
        <h2 class="collapsible__heading collapsible__heading--white">
          Products
        </h2>
        <svg
          id="Layer_1"
          class="icon collapsible__chevron"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <div class="collapsible__content collapsible__content--dark">
        <ul class="list collapsible__list--margin">
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >WordPress Hosting</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Free Automated WordPress</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Migrations</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded collapsible-border-padding">
      <header class="collapsible__header">
        <h2 class="collapsible__heading collapsible__heading--white">
          Company
        </h2>
        <svg
          id="Layer_1"
          class="icon collapsible__chevron"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <div class="collapsible__content collapsible__content--dark">
        <ul class="list collapsible__list--margin">
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >About</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Affiliates</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Blog</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded collapsible-border-padding">
      <header class="collapsible__header">
        <h2 class="collapsible__heading collapsible__heading--white">
          Support
        </h2>
        <svg
          id="Layer_1"
          class="icon collapsible__chevron"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <div class="collapsible__content collapsible__content--dark">
        <ul class="list collapsible__list--margin">
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Contact</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Knowledge Base</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >FAQ</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="collapsible collapsible--expanded collapsible-border-padding">
      <header class="collapsible__header">
        <h2 class="collapsible__heading collapsible__heading--white">
          Domains
        </h2>
        <svg
          id="Layer_1"
          class="icon collapsible__chevron"
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 51 51"
        >
          <defs>
            <style>
              .cls-1 {
                fill: #393939;
              }
              .cls-2 {
                fill: #fff;
              }
            </style>
          </defs>
          <circle class="cls-1" cx="25.5" cy="25.5" r="25.5" />
          <rect
            class="cls-2"
            x="24.4"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"
          />
          <rect
            class="cls-2"
            x="33.3"
            y="27.9"
            width="1.6"
            height="15.24"
            rx="0.8"
            transform="translate(24 -21.9) rotate(37.3)"
          />
        </svg>
      </header>
      <div class="collapsible__content collapsible__content--dark">
        <ul class="list collapsible__list--margin">
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Domain Checker</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Domain Transfer</a
            >
          </li>
          <li class="list__item">
            <a
              class="collapsible__content--dark collapsible__link-footer"
              href=""
              >Free Domain</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__logo-block">
      <img class="footer__logo" src="images/logo.png" alt="Logo of the site." />
      <p>Copyright 2022 Mosh Hamedani</p>
    </div>
  </div>
</div>
