<nav class="nav collapsible collapsible--expanded">
  <div class="collapsible__header">
    <a href="#"
      ><img class="logo" src="images/logo.png" alt="Site logo - Moshify."
    /></a>
    <svg class="icon icon--gray nav__menu-icon">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </div>
  <ul class="list collapsible__content">
    <li class="list__item">
      <a class="collapsible__link" href="">Hosting</a>
    </li>
    <li class="list__item"><a class="collapsible__link" href="">VPS</a></li>
    <li class="list__item">
      <a class="collapsible__link" href="">Domain</a>
    </li>
    <li class="list__item">
      <a class="collapsible__link" href="">Pricing</a>
    </li>
  </ul>
</nav>
