<div class="quote">
  <div class="quote__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus expedita
    officiis doloribus quos inventore molestiae suscipit illum eveniet enim
    impedit!
  </div>
  <div class="quote__sign">
    <div class="quote__line">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="quote__author-info">
      <p class="quote__full-name">Jhone Lumeo</p>
      <p class="quote__company-name">Mosh company ceo</p>
    </div>
  </div>
</div>
