<div class="showcase-block block--dark block block--skewed--right">
  <header class="block__header">
    <h2 class="block__heading">User-friendly Control Panel</h2>
  </header>
  <div class="grid grid--1x2 container">
    <picture>
      <source
        type="image/webp"
        srcset="images/ipad(800px).webp 1x, images/ipad(1200px).webp 2x" />
      <source
        type="image/png"
        srcset="images/ipad(800px).png 1x, images/ipad(1200px).png 2x" />
      <img class="large__image" src="images/ipad.png" alt="IPad"
    /></picture>
    <ul class="list">
      <li>
        <div class="media-object">
          <div class="media__icon">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3>Easy Start & Managed Updates</h3>
            <p>
              We make you WordPress and WooCommerce development flow easier with
              a convenient staging tool and Git and WP-CLI integration
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media-object">
          <div class="media__icon">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3>Staging, Git and WP-CLI</h3>
            <p>
              We make you WordPress and WooCommerce development flow easier with
              a convenient staging tool and Git and WP-CLI integration
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media-object">
          <div class="media__icon">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3>Dynamic Caching & More</h3>
            <p>
              We make you WordPress and WooCommerce development flow easier with
              a convenient staging tool and Git and WP-CLI integration
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
