<section class="block testimonial-block">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">What our Customers are Saying</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </header>
    <div class="quote-card">
      <div class="grid grid--1x2">
        <div class="card__image">
          <img src="images/testimonial.jpg" alt="Happy customer" />
          <span class="icon-container">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <div class="quote">
          <div class="quote__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
            expedita officiis doloribus quos inventore molestiae suscipit illum
            eveniet enim impedit!
          </div>
          <div class="quote__sign">
            <div class="quote__line">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="quote__author-info">
              <p class="quote__full-name">Jhone Lumeo</p>
              <p class="quote__company-name">Mosh company ceo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
